{{ define "main" }}
<h1>{{ .Title }}</h1>

<time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}
</time>
{{ $taxo := "tags" }} <!-- Use the plural form here -->
{{ with .Param $taxo }}
  {{ range $index, $director := . }}
    {{- if gt $index 0 }}, {{ end -}}
     {{ with $.Site.GetPage (printf "/%s/%s" $taxo $director) -}}
      <a href="{{ .Permalink }}">{{ $director }}</a>
     {{- end -}}
    {{- end -}}
{{ end }}
<br/><br/>
{{ .Content }}
{{ template "_internal/disqus.html" . }}
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h3>Artículos relacionados</h3>
<ul>
  {{ range . }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
