    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                        {{.Date.Day}} de {{index $.Site.Data.meses (printf "%d" .Date.Month)}} {{.Date.Year}}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} palabras {{ else }}{{ .WordCount }} palabras{{ end }}
                    · {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minuto apróx. {{ else }}{{ .ReadingTime }} minutos apróx. {{ end }}
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                    {{ partial "related.html" }}
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                    <section id="post-body">
                        {{ .Content }}
                    </section>
            </article>

            {{ template "_internal/disqus.html" . }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
